// common prefix
$prefix: 'tk';

// Font 12 14 16 40
$font-size: 10px;
$font-size-s: 10px;
$font-size-base: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 40px;

// rounded corners
$radius-small: 3px;
$radius-default: 6px;
$radius-large: 9px;
$radius-extra-large: 12px;
$radius-round: 999px;
$radius-circle: 50%;

$grid-columns: 12;
